URLs for the latest daily build of Microsoft Teams:
1.6.00.35362 (win-x64) - published on Tuesday, December 19, 2023 at 7:46 PM with 137 MB: https://staticsint.teams.cdn.office.net/production-windows-x64/1.6.00.35362/Teams_windows_x64.exe
1.6.00.35362 (win-x64) - published on Tuesday, December 19, 2023 at 7:46 PM with 139 MB: https://staticsint.teams.cdn.office.net/production-windows-x64/1.6.00.35362/Teams_windows_x64.msi
1.6.00.35362 (win-x86) - published on Tuesday, December 19, 2023 at 7:44 PM with 129 MB: https://staticsint.teams.cdn.office.net/production-windows/1.6.00.35362/Teams_windows.exe
1.6.00.35362 (win-x86) - published on Tuesday, December 19, 2023 at 7:44 PM with 131 MB: https://staticsint.teams.cdn.office.net/production-windows/1.6.00.35362/Teams_windows.msi
1.6.00.35362 (win-arm64) - published on Tuesday, December 19, 2023 at 7:49 PM with 130 MB: https://staticsint.teams.cdn.office.net/production-windows-arm64/1.6.00.35362/Teams_windows_arm64.exe
1.6.00.35362 (win-arm64) - published on Tuesday, December 19, 2023 at 7:49 PM with 132 MB: https://staticsint.teams.cdn.office.net/production-windows-arm64/1.6.00.35362/Teams_windows_arm64.msi
1.6.00.35358 (osx-x64 + osx-arm64) - published on Tuesday, December 19, 2023 at 7:29 PM with 198 MB: https://staticsint.teams.cdn.office.net/production-osx/1.6.00.35358/Teams_osx.pkg

URLs for the latest experimental build of Microsoft Teams:
1.6.00.35312 (win-x64) - published on Tuesday, December 19, 2023 at 7:48 PM with 137 MB: https://staticsint.teams.cdn.office.net/production-windows-x64/1.6.00.35312/Teams_windows_x64.exe
1.6.00.35312 (win-x64) - published on Tuesday, December 19, 2023 at 7:48 PM with 139 MB: https://staticsint.teams.cdn.office.net/production-windows-x64/1.6.00.35312/Teams_windows_x64.msi
1.6.00.35313 (win-x86) - published on Tuesday, December 19, 2023 at 8:09 PM with 129 MB: https://staticsint.teams.cdn.office.net/production-windows/1.6.00.35313/Teams_windows.exe
1.6.00.35313 (win-x86) - published on Tuesday, December 19, 2023 at 8:10 PM with 131 MB: https://staticsint.teams.cdn.office.net/production-windows/1.6.00.35313/Teams_windows.msi
1.6.00.35312 (win-arm64) - published on Tuesday, December 19, 2023 at 7:51 PM with 130 MB: https://staticsint.teams.cdn.office.net/production-windows-arm64/1.6.00.35312/Teams_windows_arm64.exe
1.6.00.35312 (win-arm64) - published on Tuesday, December 19, 2023 at 7:51 PM with 133 MB: https://staticsint.teams.cdn.office.net/production-windows-arm64/1.6.00.35312/Teams_windows_arm64.msi
1.6.00.35308 (osx-x64 + osx-arm64) - published on Tuesday, December 19, 2023 at 7:30 PM with 198 MB: https://staticsint.teams.cdn.office.net/production-osx/1.6.00.35308/Teams_osx.pkg

URLs for the latest preview build of Microsoft Teams:
1.6.00.33955 (win-x64) - published on Tuesday, December 5, 2023 at 6:24 AM with 137 MB: https://statics.teams.cdn.office.net/production-windows-x64/1.6.00.33955/Teams_windows_x64.exe
1.6.00.33955 (win-x64) - published on Tuesday, December 5, 2023 at 6:24 AM with 139 MB: https://statics.teams.cdn.office.net/production-windows-x64/1.6.00.33955/Teams_windows_x64.msi
1.6.00.33955 (win-x86) - published on Tuesday, December 5, 2023 at 6:21 AM with 128 MB: https://statics.teams.cdn.office.net/production-windows/1.6.00.33955/Teams_windows.exe
1.6.00.33955 (win-x86) - published on Tuesday, December 5, 2023 at 6:21 AM with 130 MB: https://statics.teams.cdn.office.net/production-windows/1.6.00.33955/Teams_windows.msi
1.6.00.33955 (win-arm64) - published on Tuesday, December 5, 2023 at 6:27 AM with 130 MB: https://statics.teams.cdn.office.net/production-windows-arm64/1.6.00.33955/Teams_windows_arm64.exe
1.6.00.33955 (win-arm64) - published on Tuesday, December 5, 2023 at 6:27 AM with 132 MB: https://statics.teams.cdn.office.net/production-windows-arm64/1.6.00.33955/Teams_windows_arm64.msi
1.6.00.34260 (osx-x64 + osx-arm64) - published on Friday, December 8, 2023 at 2:41 PM with 197 MB: https://statics.teams.cdn.office.net/production-osx/1.6.00.34260/Teams_osx.pkg

URLs for the latest production build of Microsoft Teams:
1.6.00.33567 (win-x64) - published on Friday, December 1, 2023 at 3:16 PM with 137 MB: https://statics.teams.cdn.office.net/production-windows-x64/1.6.00.33567/Teams_windows_x64.exe
1.6.00.33567 (win-x64) - published on Friday, December 1, 2023 at 3:16 PM with 139 MB: https://statics.teams.cdn.office.net/production-windows-x64/1.6.00.33567/Teams_windows_x64.msi
1.6.00.33567 (win-x86) - published on Friday, December 1, 2023 at 3:14 PM with 128 MB: https://statics.teams.cdn.office.net/production-windows/1.6.00.33567/Teams_windows.exe
1.6.00.33567 (win-x86) - published on Friday, December 1, 2023 at 3:14 PM with 131 MB: https://statics.teams.cdn.office.net/production-windows/1.6.00.33567/Teams_windows.msi
1.6.00.33567 (win-arm64) - published on Friday, December 1, 2023 at 3:19 PM with 130 MB: https://statics.teams.cdn.office.net/production-windows-arm64/1.6.00.33567/Teams_windows_arm64.exe
1.6.00.33567 (win-arm64) - published on Friday, December 1, 2023 at 3:19 PM with 132 MB: https://statics.teams.cdn.office.net/production-windows-arm64/1.6.00.33567/Teams_windows_arm64.msi
1.6.00.34263 (osx-x64 + osx-arm64) - published on Friday, December 8, 2023 at 1:04 PM with 197 MB: https://statics.teams.cdn.office.net/production-osx/1.6.00.34263/Teams_osx.pkg
