URLs for the latest daily build of Microsoft Teams:
1.6.00.33253 (win-x64) - published on Tuesday, November 28, 2023 at 3:52 AM with 137 MB: https://staticsint.teams.cdn.office.net/production-windows-x64/1.6.00.33253/Teams_windows_x64.exe
1.6.00.33253 (win-x64) - published on Tuesday, November 28, 2023 at 3:52 AM with 140 MB: https://staticsint.teams.cdn.office.net/production-windows-x64/1.6.00.33253/Teams_windows_x64.msi
1.6.00.33253 (win-x86) - published on Tuesday, November 28, 2023 at 3:49 AM with 129 MB: https://staticsint.teams.cdn.office.net/production-windows/1.6.00.33253/Teams_windows.exe
1.6.00.33253 (win-x86) - published on Tuesday, November 28, 2023 at 3:49 AM with 131 MB: https://staticsint.teams.cdn.office.net/production-windows/1.6.00.33253/Teams_windows.msi
1.6.00.33253 (win-arm64) - published on Tuesday, November 28, 2023 at 3:55 AM with 130 MB: https://staticsint.teams.cdn.office.net/production-windows-arm64/1.6.00.33253/Teams_windows_arm64.exe
1.6.00.33253 (win-arm64) - published on Tuesday, November 28, 2023 at 3:55 AM with 132 MB: https://staticsint.teams.cdn.office.net/production-windows-arm64/1.6.00.33253/Teams_windows_arm64.msi
1.6.00.33251 (osx-x64 + osx-arm64) - published on Tuesday, November 28, 2023 at 1:30 AM with 198 MB: https://staticsint.teams.cdn.office.net/production-osx/1.6.00.33251/Teams_osx.pkg

URLs for the latest experimental build of Microsoft Teams:
1.6.00.33203 (win-x64) - published on Tuesday, November 28, 2023 at 3:53 AM with 137 MB: https://staticsint.teams.cdn.office.net/production-windows-x64/1.6.00.33203/Teams_windows_x64.exe
1.6.00.33203 (win-x64) - published on Tuesday, November 28, 2023 at 3:53 AM with 139 MB: https://staticsint.teams.cdn.office.net/production-windows-x64/1.6.00.33203/Teams_windows_x64.msi
1.6.00.33203 (win-x86) - published on Tuesday, November 28, 2023 at 3:51 AM with 129 MB: https://staticsint.teams.cdn.office.net/production-windows/1.6.00.33203/Teams_windows.exe
1.6.00.33203 (win-x86) - published on Tuesday, November 28, 2023 at 3:51 AM with 131 MB: https://staticsint.teams.cdn.office.net/production-windows/1.6.00.33203/Teams_windows.msi
1.6.00.33203 (win-arm64) - published on Tuesday, November 28, 2023 at 3:56 AM with 130 MB: https://staticsint.teams.cdn.office.net/production-windows-arm64/1.6.00.33203/Teams_windows_arm64.exe
1.6.00.33203 (win-arm64) - published on Tuesday, November 28, 2023 at 3:56 AM with 132 MB: https://staticsint.teams.cdn.office.net/production-windows-arm64/1.6.00.33203/Teams_windows_arm64.msi
1.6.00.33201 (osx-x64 + osx-arm64) - published on Tuesday, November 28, 2023 at 1:32 AM with 198 MB: https://staticsint.teams.cdn.office.net/production-osx/1.6.00.33201/Teams_osx.pkg

URLs for the latest preview build of Microsoft Teams:
1.6.00.32059 (win-x64) - published on Thursday, November 16, 2023 at 1:30 PM with 137 MB: https://statics.teams.cdn.office.net/production-windows-x64/1.6.00.32059/Teams_windows_x64.exe
1.6.00.32059 (win-x64) - published on Thursday, November 16, 2023 at 1:30 PM with 139 MB: https://statics.teams.cdn.office.net/production-windows-x64/1.6.00.32059/Teams_windows_x64.msi
1.6.00.32059 (win-x86) - published on Thursday, November 16, 2023 at 1:27 PM with 128 MB: https://statics.teams.cdn.office.net/production-windows/1.6.00.32059/Teams_windows.exe
1.6.00.32059 (win-x86) - published on Thursday, November 16, 2023 at 1:27 PM with 131 MB: https://statics.teams.cdn.office.net/production-windows/1.6.00.32059/Teams_windows.msi
1.6.00.32059 (win-arm64) - published on Thursday, November 16, 2023 at 1:32 PM with 130 MB: https://statics.teams.cdn.office.net/production-windows-arm64/1.6.00.32059/Teams_windows_arm64.exe
1.6.00.32059 (win-arm64) - published on Thursday, November 16, 2023 at 1:32 PM with 132 MB: https://statics.teams.cdn.office.net/production-windows-arm64/1.6.00.32059/Teams_windows_arm64.msi
1.6.00.31851 (osx-x64 + osx-arm64) - published on Tuesday, November 14, 2023 at 2:33 AM with 197 MB: https://statics.teams.cdn.office.net/production-osx/1.6.00.31851/Teams_osx.pkg

URLs for the latest production build of Microsoft Teams:
1.6.00.29964 (win-x64) - published on Thursday, October 26, 2023 at 10:58 AM with 137 MB: https://statics.teams.cdn.office.net/production-windows-x64/1.6.00.29964/Teams_windows_x64.exe
1.6.00.29964 (win-x64) - published on Thursday, October 26, 2023 at 10:58 AM with 139 MB: https://statics.teams.cdn.office.net/production-windows-x64/1.6.00.29964/Teams_windows_x64.msi
1.6.00.29964 (win-x86) - published on Thursday, October 26, 2023 at 10:56 AM with 128 MB: https://statics.teams.cdn.office.net/production-windows/1.6.00.29964/Teams_windows.exe
1.6.00.29964 (win-x86) - published on Thursday, October 26, 2023 at 10:56 AM with 131 MB: https://statics.teams.cdn.office.net/production-windows/1.6.00.29964/Teams_windows.msi
1.6.00.29964 (win-arm64) - published on Thursday, October 26, 2023 at 11:01 AM with 130 MB: https://statics.teams.cdn.office.net/production-windows-arm64/1.6.00.29964/Teams_windows_arm64.exe
1.6.00.29964 (win-arm64) - published on Thursday, October 26, 2023 at 11:01 AM with 132 MB: https://statics.teams.cdn.office.net/production-windows-arm64/1.6.00.29964/Teams_windows_arm64.msi
1.6.00.29954 (osx-x64 + osx-arm64) - published on Thursday, October 26, 2023 at 10:05 AM with 197 MB: https://statics.teams.cdn.office.net/production-osx/1.6.00.29954/Teams_osx.pkg
