URLs for the latest continuous deployment build of Microsoft Teams:
1.4.00.23559 (win-x64) - published on Monday, August 23, 2021 at 6:57 AM with 120 MB: https://statics.teams.cdn.office.net/production-windows-x64/1.4.00.23559/Teams_windows_x64.exe
1.4.00.23559 (win-x64) - published on Monday, August 23, 2021 at 6:58 AM with 122 MB: https://statics.teams.cdn.office.net/production-windows-x64/1.4.00.23559/Teams_windows_x64.msi
1.4.00.23559 (win-x86) - published on Monday, August 23, 2021 at 6:47 AM with 112 MB: https://statics.teams.cdn.office.net/production-windows/1.4.00.23559/Teams_windows.exe
1.4.00.23559 (win-x86) - published on Monday, August 23, 2021 at 6:47 AM with 114 MB: https://statics.teams.cdn.office.net/production-windows/1.4.00.23559/Teams_windows.msi
1.4.00.23561 (win-arm64) - published on Monday, August 23, 2021 at 7:42 AM with 110 MB: https://statics.teams.cdn.office.net/production-windows-arm64/1.4.00.23561/Teams_windows_arm64.exe
1.4.00.23561 (win-arm64) - published on Monday, August 23, 2021 at 7:42 AM with 112 MB: https://statics.teams.cdn.office.net/production-windows-arm64/1.4.00.23561/Teams_windows_arm64.msi
1.4.00.23560 (osx-x64) - published on Monday, August 23, 2021 at 7:43 AM with 105 MB: https://statics.teams.cdn.office.net/production-osx/1.4.00.23560/Teams_osx.pkg

URLs for the latest exploration build of Microsoft Teams:
1.4.00.23509 (win-x64) - published on Monday, August 23, 2021 at 6:47 AM with 120 MB: https://statics.teams.cdn.office.net/production-windows-x64/1.4.00.23509/Teams_windows_x64.exe
1.4.00.23509 (win-x64) - published on Monday, August 23, 2021 at 6:47 AM with 122 MB: https://statics.teams.cdn.office.net/production-windows-x64/1.4.00.23509/Teams_windows_x64.msi
1.4.00.23507 (win-x86) - published on Monday, August 23, 2021 at 5:42 AM with 113 MB: https://statics.teams.cdn.office.net/production-windows/1.4.00.23507/Teams_windows.exe
1.4.00.23507 (win-x86) - published on Monday, August 23, 2021 at 5:42 AM with 115 MB: https://statics.teams.cdn.office.net/production-windows/1.4.00.23507/Teams_windows.msi
1.4.00.23511 (win-arm64) - published on Monday, August 23, 2021 at 7:42 AM with 110 MB: https://statics.teams.cdn.office.net/production-windows-arm64/1.4.00.23511/Teams_windows_arm64.exe
1.4.00.23511 (win-arm64) - published on Monday, August 23, 2021 at 7:42 AM with 112 MB: https://statics.teams.cdn.office.net/production-windows-arm64/1.4.00.23511/Teams_windows_arm64.msi
1.4.00.23510 (osx-x64) - published on Monday, August 23, 2021 at 7:43 AM with 105 MB: https://statics.teams.cdn.office.net/production-osx/1.4.00.23510/Teams_osx.pkg

URLs for the latest preview build of Microsoft Teams:
1.4.00.22472 (win-x64) - published on Thursday, August 12, 2021 at 1:57 PM with 118 MB: https://statics.teams.cdn.office.net/production-windows-x64/1.4.00.22472/Teams_windows_x64.exe
1.4.00.22472 (win-x64) - published on Thursday, August 12, 2021 at 1:57 PM with 120 MB: https://statics.teams.cdn.office.net/production-windows-x64/1.4.00.22472/Teams_windows_x64.msi
1.4.00.22472 (win-x86) - published on Thursday, August 12, 2021 at 1:48 PM with 111 MB: https://statics.teams.cdn.office.net/production-windows/1.4.00.22472/Teams_windows.exe
1.4.00.22472 (win-x86) - published on Thursday, August 12, 2021 at 1:48 PM with 113 MB: https://statics.teams.cdn.office.net/production-windows/1.4.00.22472/Teams_windows.msi
1.4.00.22472 (win-arm64) - published on Thursday, August 12, 2021 at 1:46 PM with 110 MB: https://statics.teams.cdn.office.net/production-windows-arm64/1.4.00.22472/Teams_windows_arm64.exe
1.4.00.22472 (win-arm64) - published on Thursday, August 12, 2021 at 1:46 PM with 112 MB: https://statics.teams.cdn.office.net/production-windows-arm64/1.4.00.22472/Teams_windows_arm64.msi
1.4.00.22265 (osx-x64) - published on Tuesday, August 10, 2021 at 11:26 AM with 105 MB: https://statics.teams.cdn.office.net/production-osx/1.4.00.22265/Teams_osx.pkg
1.4.00.13653 (linux-x64) - published on Monday, May 24, 2021 at 5:55 AM with 79 MB: https://packages.microsoft.com/repos/ms-teams/pool/main/t/teams-insiders/teams-insiders_1.4.00.13653_amd64.deb

URLs for the latest production build of Microsoft Teams:
1.4.00.19572 (win-x64) - published on Wednesday, July 14, 2021 at 4:19 PM with 117 MB: https://statics.teams.cdn.office.net/production-windows-x64/1.4.00.19572/Teams_windows_x64.exe
1.4.00.19572 (win-x64) - published on Wednesday, July 14, 2021 at 4:19 PM with 119 MB: https://statics.teams.cdn.office.net/production-windows-x64/1.4.00.19572/Teams_windows_x64.msi
1.4.00.19572 (win-x86) - published on Wednesday, July 14, 2021 at 9:49 PM with 110 MB: https://statics.teams.cdn.office.net/production-windows/1.4.00.19572/Teams_windows.exe
1.4.00.19572 (win-x86) - published on Wednesday, July 14, 2021 at 9:49 PM with 112 MB: https://statics.teams.cdn.office.net/production-windows/1.4.00.19572/Teams_windows.msi
1.4.00.19572 (win-arm64) - published on Wednesday, July 14, 2021 at 4:05 PM with 108 MB: https://statics.teams.cdn.office.net/production-windows-arm64/1.4.00.19572/Teams_windows_arm64.exe
1.4.00.19572 (win-arm64) - published on Wednesday, July 14, 2021 at 4:05 PM with 110 MB: https://statics.teams.cdn.office.net/production-windows-arm64/1.4.00.19572/Teams_windows_arm64.msi
1.4.00.16567 (osx-x64) - published on Monday, June 14, 2021 at 1:46 PM with 105 MB: https://statics.teams.cdn.office.net/production-osx/1.4.00.16567/Teams_osx.pkg
1.4.00.13653 (linux-x64) - published on Tuesday, June 8, 2021 at 2:22 AM with 79 MB: https://packages.microsoft.com/repos/ms-teams/pool/main/t/teams/teams_1.4.00.13653_amd64.deb
